<a href="https://colab.research.google.com/github/sairajxyz/data_science_ass/blob/main/Association_Rules_assi_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import libraries

In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
# from mlxtend.preprocessing import TransactionEncoder
# conda install -c conda-forge mlxtend

In [3]:
movies = pd.read_csv("/content/my_movies.csv")
movies.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

# Pre-Processing
As the data is not in transaction formation 
We are using transaction Encoder

In [6]:
df=pd.get_dummies(movies,drop_first=True)
df.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,V1_Harry Potter1,V1_LOTR1,V1_Sixth Sense,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense
0,1,0,1,1,0,1,0,0,0,1,0,0,1,0,1,0,0,0,1,0
1,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
2,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
4,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1

# Apriori Algorithm

In [7]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

     support                                           itemsets
0        0.6                                      (Sixth Sense)
1        0.7                                        (Gladiator)
2        0.2                                            (LOTR1)
3        0.2                                    (Harry Potter1)
4        0.6                                          (Patriot)
..       ...                                                ...
424      0.1  (Sixth Sense, Harry Potter1, V1_Sixth Sense, L...
425      0.1  (Sixth Sense, V1_Sixth Sense, LOTR1, V2_LOTR1,...
426      0.1  (Sixth Sense, Harry Potter1, V1_Sixth Sense, V...
427      0.1  (Harry Potter1, V1_Sixth Sense, LOTR1, V2_LOTR...
428      0.1  (Sixth Sense, Harry Potter1, V1_Sixth Sense, L...

[429 rows x 2 columns]

In [8]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
4,(Sixth Sense),(Harry Potter1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
...,...,...,...,...,...,...,...,...,...
8241,(LOTR1),"(Sixth Sense, Harry Potter1, V1_Sixth Sense, V...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
8242,(V2_LOTR1),"(Sixth Sense, Harry Potter1, V1_Sixth Sense, L...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
8243,(LOTR2),"(Sixth Sense, Harry Potter1, V1_Sixth Sense, L...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
8244,(Green Mile),"(Sixth Sense, Harry Potter1, V1_Sixth Sense, L...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
8245,(V3_Harry Potter1),"(Sixth Sense, Harry Potter1, V1_Sixth Sense, L...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf

#####  An leverage value of 0 indicates independence. Range will be [-1 1]
A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [9]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4123,"(Harry Potter1, LOTR1, V1_Sixth Sense)","(LOTR2, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
5283,"(LOTR2, LOTR1, V1_Sixth Sense)","(V3_Harry Potter1, Sixth Sense, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
5321,"(V3_Harry Potter1, Sixth Sense, LOTR1, V2_LOTR1)","(LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
5320,"(LOTR2, Sixth Sense, LOTR1, V2_LOTR1)","(V3_Harry Potter1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
5319,"(V3_Harry Potter1, LOTR2, Sixth Sense, Harry P...","(LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
5317,"(LOTR2, Sixth Sense, Harry Potter1, V2_LOTR1)","(V3_Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
5316,"(V3_Harry Potter1, Sixth Sense, Harry Potter1,...","(LOTR2, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
5315,"(LOTR2, Sixth Sense, Harry Potter1, LOTR1)","(V3_Harry Potter1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
5314,"(Sixth Sense, Harry Potter1, LOTR1, V2_LOTR1)","(LOTR2, V3_Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
5310,"(Sixth Sense, Harry Potter1, LOTR1, LOTR2, V3_...",(V2_LOTR1),0.1,0.1,0.1,1.0,10.0,0.09,inf
5308,"(Sixth Sense, Harry Potter1, LOTR1, V2_LOTR1, ...",(V3_Harry Potter1),0.1,0.1,0.1,1.0,10.0,0.09,inf
5307,(V3_Harry Potter1),"(Sixth Sense, Harry Potter1, V1_Sixth Sense, L...",0.1,0.1,0.1,1.0,10.0,0.09,inf
5301,"(LOTR2, V3_Harry Potter1)","(Sixth Sense, Harry Potter1, LOTR1, V1_Sixth S...",0.1,0.1,0.1,1.0,10.0,0.09,inf
5300,"(V3_Harry Potter1, LOTR1)","(LOTR2, Sixth Sense, Harry Potter1, V1_Sixth S...",0.1,0.1,0.1,1.0,10.0,0.09,inf
5298,"(V3_Harry Potter1, V1_Sixth Sense)","(LOTR2, Sixth Sense, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
5297,"(LOTR2, V1_Sixth Sense)","(V3_Harry Potter1, Sixth Sense, Harry Potter1,...",0.1,0.1,0.1,1.0,10.0,0.09,inf
5296,"(LOTR1, V1_Sixth Sense)","(V3_Harry Potter1, LOTR2, Sixth Sense, Harry P...",0.1,0.1,0.1,1.0,10.0,0.09,inf
5295,"(V3_Harry Potter1, Harry Potter1)","(LOTR2, Sixth Sense, LOTR1, V1_Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
5294,"(LOTR2, Harry Potter1)","(V3_Harry Potter1, Sixth Sense, LOTR1, V1_Sixt...",0.1,0.1,0.1,1.0,10.0,0.09,inf
5293,"(Harry Potter1, LOTR1)","(V3_Harry Potter1, LOTR2, Sixth Sense, V1_Sixt...",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [10]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
6,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
7,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
10,(Sixth Sense),(LOTR),0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
...,...,...,...,...,...,...,...,...,...
8241,(LOTR1),"(Sixth Sense, Harry Potter1, V1_Sixth Sense, V...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
8242,(V2_LOTR1),"(Sixth Sense, Harry Potter1, V1_Sixth Sense, L...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
8243,(LOTR2),"(Sixth Sense, Harry Potter1, V1_Sixth Sense, L...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
8244,(Green Mile),"(Sixth Sense, Harry Potter1, V1_Sixth Sense, L...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
8245,(V3_Harry Potter1),"(Sixth Sense, Harry Potter1, V1_Sixth Sense, L...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf